# -*- coding: utf-8 -*-
#: pip requirements file for [Larch](https://github.com/xraypy/xraylarch)
#-r requirements.txt
#scikit-learn        #: -> conda
#scikit-image        #: -> conda
#wxpython            #: -> conda
#pymatgen            #: -> conda
#pycifrw             #: -> conda
#charset-normalizer  #: -> conda
#tomopy              #: -> conda
#sqlalchemy          #: -> conda 
#pyepics             #: -> skipped (extra)
lmfit>=1.2.2
peakutils
asteval>=1.0
uncertainties>=3.2.1
pyshortcuts>=1.9.0
wxutils>=0.3.4
wxmplot>=2025.1.1
termcolor
xraydb>=4.5
numexpr>=2.8.7
tabulate
mp_api
#xraylarch           #: -> from source (below)
git+https://github.com/xraypy/xraylarch.git
git+https://github.com/xraypy/larixite.git
git+https://gitlab.esrf.fr/F-CRG/fames/famewoks.git
