# -*- coding: utf-8 -*-
#: pip requirements file for [Larch](https://github.com/xraypy/xraylarch)
#-r requirements.txt
#scikit-learn        #: -> conda
#scikit-image        #: -> conda
#wxpython            #: -> conda
#pymatgen            #: -> conda
#pycifrw             #: -> conda
#charset-normalizer  #: -> conda
#tomopy              #: -> conda
#sqlalchemy          #: -> conda 
#pyepics             #: -> skipped (extra)
lmfit>=1.2.0
peakutils
asteval>=0.9.28
uncertainties>=3.1
pyshortcuts>=1.7.2
wxutils>=0.2.4
wxmplot>=0.9.48
termcolor
xraydb>=4.5
numexpr==2.8.4
#xraylarch           #: -> from source (below)
git+https://github.com/xraypy/xraylarch.git
