# -*- coding: utf-8 -*-
# pip requirements file for building sloth documentation
#-r requirements.txt
nbsphinx #: for converting ipynb in documentation
nbsphinx-link
sphinx>=1.8
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-bibtex
sphinxcontrib-argdoc
#pandoc #: this is the Python layer (pandoc installed via conda)
#numpydoc
#recommonmark
#pillow #: For loading images in documentation generation -> conda