# -*- coding: utf-8 -*-
# pip requirements file for building sloth documentation
#-r requirements.txt
sphinx >= 5
sphinx-tabs
sphinx-toolbox
sphinx-copybutton
sphinx-rtd-theme
sphinx-autodoc-typehints
pydata-sphinx-theme
myst-parser  #: to mix rst with md
sphinxcontrib-napoleon
sphinxcontrib-bibtex
sphinxcontrib-argdoc
sphinxcontrib-bibtex
jupyter-book
numpydoc
pycairo; platform_system=="Windows"
nbsphinx #: for converting ipynb in documentation
nbsphinx-link
nbconvert[webpdf] #: to use Pyppeteer instead of Xetex for PDF conversion
#pandoc #: this is the Python layer (pandoc installed via conda)
#recommonmark
#pillow #: For loading images in documentation generation -> conda