#: pip requirements file for development tools (linters and formatters)
#: [overview](http://books.agiliq.com/projects/essential-python-tools/en/latest/linters.html)
#: [comparison](https://realpython.com/python-code-quality/)
#: [full list](https://github.com/vintasoftware/python-linters-and-code-analysis)
#-r requirements.txt
rope         #: completions and renaming
pyflakes     #: linter (used by flake8, faster than pylint)
mccabe       #: linter (used by flake8)
pycodestyle  #: linter (used by flake8, for style checking)
flake8       #: linter (wrapper on top of +pyflakes, +pycodestyle and +mccabe)
pydocstyle   #: linter for docstring style checking
black        #: formatter (preferred over: yapf and autopep8)
wheel        #: To build wheels
lxml         #: (silx-dev) For test coverage in run_test.py
coverage     #: (silx-dev) For test coverage in run_test.py
doc8         #: style checker for rst
pytest
nose
