# -*- coding: utf-8 -*-
#: pip requirements file for [Larch](https://github.com/xraypy/xraylarch)
#-r requirements.txt
scikit-learn
scikit-image
peakutils >= 1.3
asteval >= 0.9.18
uncertainties >= 3.1
pyshortcuts >= 1.7
#pyepics >= 3.3.3
#wxpython >= 4.0.4 #moved to conda
wxutils >= 0.2.3
wxmplot >= 0.9.40
pycifrw
#xraylarch >= 0.9.47
git+https://github.com/xraypy/xraylarch.git