# -*- coding: utf-8 -*-
# pip requirements file for building sloth documentation
#-r requirements.txt
sphinx>=1.8
pandoc #: Python layer on pandoc installed via conda
numpydoc
recommonmark
sphinx_rtd_theme
sphinxcontrib-napoleon
sphinxcontrib-bibtex
sphinxcontrib-argdoc
nbsphinx #: for converting ipynb in documentation
pillow #: For loading images in documentation generation