# -*- coding: utf-8 -*-
#: pip requiremets file for SHADOW & OASYS
#-r requirements.txt
#OLD / DEPRECATED
#shadow3 == 18.5.30
#resources
#oasys-canvas-core
#oasys-widget-core
#oasys1
#srxraylib
#syned
#wofry
#OASYS1-ShadowOui
#OASYS1-XOPPY
#CURRENT (>=2025)
shadow4
oasys1
