# -*- coding: utf-8 -*-
#: pip requirements file for Jupyter ecosystem
# Minimum requirements:
#   conda install nodejs
#   pip install -r ../requirements.txt
ipython != 7.15.0
ipykernel >= 5.2
jupyterlab_server
jupyterlab >= 1.0
ipywidgets >= 7.5  #: in each kernel’s environment that will use ipywidgets
widgetsnbextension >= 3.5.0  #: in the environment containing the Jupyter Notebook server
notebook >= 5.3
jupyterhub
ipympl
nbsphinx
ipytree
plotly
kaleido  #: Static Image Export for plotly
#h5glance
jupyterlab_h5web
#h5web
#h5netcdf
#xarray

# run postBuild
